%p#notice= notice

%p
  %b Title:
  / = @page.title
  = markdown @page.title
%p
  %b Body:
  / = @page.body
  = markdown @page.body

= link_to 'Edit', edit_wiki_page_path(@wiki, @page)
\|
= link_to 'Back', wiki_path(@wiki)
