= form_for @wiki do |f|
  - if @wiki.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wiki.errors.count, "error")} prohibited this wiki from being saved:"
      %ul
        - @wiki.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :user_id
    = f.number_field :user_id
  - if current_user.role?(:admin) || current_user.role?(:premium)
    .field
      = f.label :is_private
      = f.check_box :is_private
      
    .actions
      = f.submit 'Save'