%h1{:align => "center"} My Collaborations
%table
  %thead
    %tr
      %th Name
      %th Email
      %th Give Access
  %tbody
    = form_tag("save", method: "post") do
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= check_box_tag('collaborators[]', user.id, @collaboration_user_ids.include?(user.id))
      = submit_tag("Save")

= link_to 'Back', wiki_pages_path